/*Core CSS */
body {
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}
html {
    width: 100%;
    height: 100%;
}


.panel-img-container {
    height: 100%;
    width: 100%;
}

.custom-panel {
    min-height: 70%;
    height: auto;
    text-align: center;
    position: relative;
}

.bottom-separator::after {
    content: '';
    position: absolute;
    display: inline-block;
    left: 20%;
    bottom: 0;
    height: 1px;
    width: 60%;
    border-bottom: 1px solid lightgrey;
}

#top{
    background: url('../images/top.jpg') no-repeat 50% 50% fixed;
    background-size: cover;
    -webkit-background-size: cover;
    height: 100%;
}

#float-navbar-right {
    float: right;
}

.paws-logo {
    font-size: 26px;
    text-align: center;
    height: 100%;
    display: inline-block;
    padding: 3px;
}

.full-name {
    margin: 0 0 -3px;
    color: black;
}

.full-title {
    font-size: 16px;
    color: black;
}

.active {
    position: relative;
}

li.active::after {
    content: '';
    position: absolute;
    display: inline-block;
    left: 25%;
    bottom: 0;
    height: 1px;
    width: 50%;
    border-bottom: 1px solid black;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: black;
    background-color: white;
}

.reset-scroll {
    float: right;
    padding-right: 2%;
    position: fixed;
    top: 93%;
    opacity: 0;
    right: 0;
    visibility: hidden;
    font-size: 40px;
    -webkit-transition: opacity .5s 0s, visibility 0s .5s;
    -moz-transition: opacity .5s 0s, visibility 0s .5s;
    transition: opacity .5s 0s, visibility 0s .5s;
    text-decoration: none !important;
    color: black !important;
}

.reset-scroll.show {
    opacity: .5;
    visibility: visible;
    color: black;
}

.reset-scroll.show:hover {
    opacity: 1;
    color: black;
}

.reset-scroll.show:focus,
.reset-scroll.show:active,
.reset-scroll.show:link {
    color: black;
}

.panel-text {
    position: relative;
    text-align: justify;
}

.fade-in {
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-fill-mode: forwards;
}

.fade-out {
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
    -webkit-animation-fill-mode: forwards;
}

.read-more-btn {
    bottom: 5px;
}

.toggle-more-details {
    cursor: pointer;
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.toggle-more-details:hover {
    text-decoration: none;
    color:black;
    font-size: 20px;
}

.invert-element-down {
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-name: invertDown;
    animation-name: invertDown;
    -webkit-animation-fill-mode: forwards;
}

.invert-element-up {
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-name: invertUp;
    animation-name: invertUp;
    -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes invertDown {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform:rotate(180deg);
        transform: rotate(180deg);
    }
}

@-webkit-keyframes invertUp {
    0% {
        -webkit-transform: rotate(-180deg);
        transform: rotate(-180deg);
    }
    100% {
        -webkit-transform:rotate(0deg);
        transform: rotate(0deg);
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 0;
    }
}