/*Core CSS */
body {
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}
html {
    width: 100%;
    height: 100%;
}

.panel-img-container {
    height: 100%;
    width: 100%;
}

.custom-panel {
    min-height: 70%;
    height: auto;
    text-align: center;
    position: relative;
}

.bottom-separator::after {
    content: '';
    position: absolute;
    display: inline-block;
    left: 20%;
    bottom: 0;
    height: 1px;
    width: 60%;
    border-bottom: 1px solid lightgrey;
}

#top{
    background: url('../images/top.jpg') no-repeat 50% 50% fixed;
    background-size: cover;
    -webkit-background-size: cover;
    height: 100%;
}

#float-navbar-right {
    float: right;
}

.paws-logo {
    font-size: 26px;
    text-align: center;
    height: 100%;
    display: inline-block;
    padding: 3px;
}

.full-name {
    margin: 0 0 -3px;
    color: black;
}

.full-title {
    font-size: 16px;
    color: black;
}

.active {
    position: relative;
}

li.active::after {
    content: '';
    position: absolute;
    display: inline-block;
    left: 25%;
    bottom: 0;
    height: 1px;
    width: 50%;
    border-bottom: 1px solid black;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: black;
    background-color: white;
}

.reset-scroll {
    float: right;
    padding-right: 5%;
}

.reset-scroll.fade-out {
    opacity: .5;
    visibility: visible;
}

.reset-scroll.fade-in {
    opacity: 1;
}

.read-more {
    position: relative;
}

.read-more-btn {
    bottom: 5px;
}