<button class="btn btn-primary" (click)="open(content)">
        {{modalTitle}}
</button>

<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">
            {{modalTitle}}
        </h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <span>
            {{modalText}}
        </span>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" (click)="c('Close click')">
            Close
        </button>
    </div>
</ng-template>