.paws-hero-img {
    background: url('../../assets/images/top.jpg');
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    background-attachment: static;
    height: 100vh;
    transition: height 999999s;
}

@media screen and (min-width: 767px) {    
    .paws-hero-img {
        background-attachment: fixed;
        height: 100%;
    }
}