.paws-hero-img {
    background: url('../../assets/images/top.jpg');
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    background-attachment: fixed;

    -webkit-background: url('../../assets/images/top.jpg');
    -webkit-background-repeat: no-repeat;
    -webkit-background-position: 50%;
    -webkit-background-size: cover;
    -webkit-background-attachment: fixed;

    height: 100%;
}