.responsive-service-cards {
    display: block;
}

.responsive-service-cards mat-icon {
    height: auto;
    width: auto;
    font-size: 50px;
}

#BusinessCard, #RealEstateCard {
    margin-top: 20px;
}

@media screen and (min-width: 768px) {
    .responsive-service-cards {
        display: flex;
        justify-content: center;
    }

    .responsive-service-cards mat-icon {
        height: auto;
        width: auto;
        font-size: 75px;
    }

    #BusinessCard, #RealEstateCard {
        margin-top: 0px;
    }
}


@media screen and (min-width: 992px) {
    .responsive-service-cards mat-icon {
        height: auto;
        width: auto;
        font-size: 75px;
    }
}

@media screen and (min-width: 1170px) {
    .responsive-service-cards mat-icon {
        height: auto;
        width: auto;
        font-size: 100px;
    }
}