<md-card id="services" class="custom-panel" [class.bottom-separator]="shouldHaveSeparator">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Services</h1>
                <div class="panel-text">
                    <p>
                        Ms. Woodward is engaged in a general practice of law. Her areas of practice include:
                    </p>
                    <ul>
                        <li>Estate Planning</li>
                        <li>Estate Administration</li>
                        <li>Real Estate matters including sales, purchases and refinances</li>
                        <li>Real Estate Partition Actions</li>
                        <li>Guardianships and Conservatorships</li>
                        <li>Creation of corporations, limited liability companies, partnerships and other business matters</li>
                    </ul>
                    <p>
                        For Business, Lititgation, and Family Law contact <a href="http://www.csadlawyers.com/" target="_blank">Culin, Sharp, Autry & Day</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</md-card>