<mat-card id="services" class="custom-panel" [class.bottom-separator]="shouldHaveSeparator">
    <div class="container">
        <div class="row responsive-service-cards">
            <div class="mat-display-2">Services</div>
            <div class="col-sm-6">
                <mat-card>
                    <mat-icon>attach_money</mat-icon>
                    <hr>
                    <mat-card-content>
                        Estate Planning
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-sm-6">
                <mat-card>
                    <mat-icon>home</mat-icon>
                    <hr>
                    <mat-card-content>
                            Real Estate
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
        <br>
        <div class="row responsive-service-cards">
            <div class="col-sm-6">
                <mat-card>
                    <mat-icon>child_friendly</mat-icon>
                    <hr>
                    <mat-card-content>
                            Guardianships and Conservatorships
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-sm-6">
                <mat-card>
                    <mat-icon>business</mat-icon>
                    <hr>
                    <mat-card-content>
                            Business Affairs
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
        <div class="row" >
            <div class="col-xs-12" style="position: absolute; bottom: 5px; left: 0px; font-size: 14px;">
                For Business, Litigation and Family Law, contact 
                <a target="_blank" href="http://www.csadlawyers.com/">
                    Culin, Sharp, Autry and Day
                </a>
            </div>
        </div>
    </div>
</mat-card>