<md-card id="services" class="custom-panel" [class.bottom-separator]="shouldHaveSeparator">
    <div class="container">
        <div class="row responsive-service-cards">
            <h1>Services</h1>
            <div class="col-sm-6">
                <md-card>
                    <md-icon>attach_money</md-icon>
                    <hr>
                    <md-card-content>
                        Estate Planning
                    </md-card-content>
                </md-card>
            </div>
            <div class="col-sm-6">
                <md-card>
                    <md-icon>home</md-icon>
                    <hr>
                    <md-card-content>
                            Real Estate
                    </md-card-content>
                </md-card>
            </div>
        </div>
        <br>
        <div class="row responsive-service-cards">
            <div class="col-sm-6">
                <md-card>
                    <md-icon>child_friendly</md-icon>
                    <hr>
                    <md-card-content>
                            Guardianships and Conservatorships
                    </md-card-content>
                </md-card>
            </div>
            <div class="col-sm-6">
                <md-card>
                    <md-icon>business</md-icon>
                    <hr>
                    <md-card-content>
                            Business Affairs
                    </md-card-content>
                </md-card>
            </div>
        </div>
        <div class="row" >
            <div class="col-xs-12" style="position: absolute; bottom: 5px; left: 0px; font-size: 14px;">
                For Business, Litigation and Family Law, contact 
                <a target="_blank" href="http://www.csadlawyers.com/">
                    Culin, Sharp, Autry and Day
                </a>
            </div>
        </div>
    </div>
</md-card>