.paws-footer {
    min-height: 21.5%;
    background-color: cornflowerblue;
    color: white;
    font-size: 14px;
}

.paws-footer-links {
    color: white;
    text-decoration: none;
}

.additionalInfo {
    margin-top: 20px;
}

.mobile-footer-icon {
    font-size: 36px;
}

@media screen and (max-width: 768px) {
    h2 {
        margin-bottom: 10px;
        font-size: 30px;
    }
}
