.paws-footer {
    min-height: 21.5%;
    background-color: cornflowerblue;
    color: white;
    font-size: 11px;
}

.paws-footer-links {
    color: white;
    text-decoration: none;
}

.additionalInfo {
    margin-top: 20px;
}