.paws-navbar-header {
    display: flex;
    width: 100%;
}

.paws-brand-container {
    display: none;
}

.responsive-paws-logo {
    height: auto;
    min-height: 79px;
    width: 100%;
}

#float-navbar-right {
    margin-top: 15px;
    float: right;
}

#navbar-collapse {
    display: none !important;
}

.paws-navbar {
    background: #d3d8de;
    border-color: transparent;
}


@media screen and (min-width: 768px) {

    .paws-navbar {
        background: white;
        border-bottom: 1px solid #d3d8de;
    }    

    .paws-brand-container {
        height: 100%;
        padding: 3px;
        flex-grow: 1;
        display: flex;
        justify-content: center;
    }

    .responsive-paws-logo {
        width: auto;
    }

    .navbar > .container .navbar-brand {
        margin-left: 0;
    }

    .mat-tab-label {
        min-width: 114px !important; 
    }
}


@media screen and (min-width: 992px) {
    .responsive-paws-logo {
        width: auto;
        margin-left: none;
    }

    .navbar > .container .navbar-brand {
        margin-left: 0px;
    }
    
    .mat-tab-label {
        min-width: 145px !important; 
    }
}


@media screen and (min-width: 1200px) {
    .responsive-paws-logo {
        width: auto;
    }

    .mat-tab-label {
        min-width: 160px !important; 
    }
}

@media screen and (min-width: 1450px) {
    
    #float-navbar-right {
        margin-right: 0px;
    }

    .paws-navbar-header {
        width: 40%;
    }

    .mat-tab-label {
        min-width: 160px !important; 
    }

    #navbar-collapse {
        display: block !important;
    }
}