<nav class="navbar navbar-default navbar-fixed-top paws-navbar" id="mainNavBar" role="navigation" pawsNavbarEnlarge pawsScrollSpy (newActiveTab)="changeCurrentTabIndex($event)">
  <div class="container">
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="navbar-brand paws-brand-container">
        <img class="responsive-paws-logo" src="../../assets/images/PawsLogo.png">
      </div>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-collapse" pawsScrollTo>
      <mat-tab-group class="nav navbar-nav" id="float-navbar-right" [selectedIndex]="currentTabIndex">
        <mat-tab label="Home"></mat-tab>
        <mat-tab label="About"></mat-tab>
        <mat-tab label="Services"></mat-tab>
        <mat-tab label="Resources"></mat-tab>
      </mat-tab-group>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>