<button class="btn btn-primary" data-toggle="modal" data-target="#FAQModal" id="FAQModalBtn">
    F.A.Q
</button>

<div id="FAQModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" style="margin-top: 10px;" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title">Frequently Asked Questions</h3>
            </div>
            <div class="modal-body">
                <div class="panel-group" id="faq-accordion" role="tablist" aria-multiselectable="true">
                    
                    <!-- TODO: style these panels! -->
                    <div *ngFor="let faqPanel of getFAQPanels(); let i = index;" 
                        class="panel panel-default" 
                        role="button" 
                        data-toggle="collapse" 
                        data-parent="#faq-accordion" 
                        [attr.href]="'#collapse' + i" 
                        aria-expanded="true" 
                        [attr.aria-controls]="'collapse' + i">
                        <div class="panel-heading" role="tab" id="heading + i">
                                <h4 class="panel-title">
                                    <span>
                                        {{faqPanel.question}}
                                    </span>
                                </h4>
                            </div>
                            <div [id]="'collapse' + i" 
                                class="panel-collapse collapse"
                                [ngClass] = "{'in' : i === 0}"
                                role="tabpanel" 
                                [attr.aria-labelledby]="'heading' + i">
                                <div class="panel-body">
                                    {{faqPanel.answer}}
                                </div>
                            </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>