<md-card id="resources" class="custom-panel">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Resources</h1>
                <div class="panel-text">
                    <md-accordion>
                        <md-expansion-panel *ngFor="let accordionPanel of accordionPanels">
                            <md-expansion-panel-header>
                                <span style="font-size: 18px;"> {{accordionPanel.header}}</span>
                            </md-expansion-panel-header>
                            <ul>
                                <li *ngFor="let resourceLink of accordionPanel.innerContent">
                                    <a [attr.href]="resourceLink.linkDest"
                                    target=_blank>{{resourceLink.linkText}}</a>
                                </li>
                            </ul>
                        </md-expansion-panel>
                    </md-accordion>
                </div>
            </div>
        </div>
    </div>
</md-card>