<mat-card id="resources" class="custom-panel">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="mat-display-3" pawsAnimateOnScroll fadeFrom="right">Resources</div>
                <div class="panel-text" pawsAnimateOnScroll fadeFrom="left">
                    <mat-accordion>
                        <mat-expansion-panel *ngFor="let accordionPanel of accordionPanels">
                            <mat-expansion-panel-header>
                                <span style="font-size: 18px;"> {{accordionPanel.header}}</span>
                            </mat-expansion-panel-header>
                            <mat-nav-list>
                                <a mat-list-item *ngFor="let resourceLink of accordionPanel.innerContent"
                                   [attr.href]="resourceLink.linkDest" target=_blank>
                                    {{resourceLink.linkText}}
                                    <span style="flex: 1 1 auto"></span>
                                    <mat-icon style="position: relative; left: 5px;">link</mat-icon>
                                </a>
                            </mat-nav-list>
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>
            </div>
        </div>
    </div>
</mat-card>