<mat-card id="resources" class="custom-panel">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="mat-display-2">Resources</div>
                <div class="panel-text">
                    <mat-accordion>
                        <mat-expansion-panel *ngFor="let accordionPanel of accordionPanels">
                            <mat-expansion-panel-header>
                                <span style="font-size: 18px;"> {{accordionPanel.header}}</span>
                            </mat-expansion-panel-header>
                            <ul>
                                <li *ngFor="let resourceLink of accordionPanel.innerContent">
                                    <a [attr.href]="resourceLink.linkDest"
                                    target=_blank>{{resourceLink.linkText}}</a>
                                </li>
                            </ul>
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>
            </div>
        </div>
    </div>
</mat-card>