<button class="btn btn-primary" data-toggle="modal" data-target="#disclaimerModal" id="disclaimerModalBtn">
        Disclaimer
</button>

<div id="disclaimerModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                    <button type="button" class="close" style="margin-top: 10px;" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title">Disclaimer</h3>
            </div>
            <div class="modal-body">
                <span>
                    The information contained in the website of Patricia A. Woodward, Attorney at Law, is provided for informational purposes
                    only, and should not be construed as legal advice on any subject matter. Any information contained herein
                    is not intended to be a substitute for legal counsel on any subject matter. No recipients of content from
                    this site, clients or otherwise, should act or refrain from acting on the basis of any content included in
                    the site without seeking the appropriate legal or other professional advice on the particular facts and circumstances
                    at issue from an attorney licensed in the recipient's state. The content of this website contains general
                    information and may not reflect current legal developments, verdicts or settlements. Patricia A. Woodward
                    expressly disclaims all liability in respect to actions taken or not taken base on any or all the contents
                    of this site. Any information sent to Patricia A. Woodard via Internet e-mail or through this website is
                    not secure and is done so on a non-confidential basis. Please do not convey any confidential information
                    to this office until a formal lawyer-client relationship has been otherwise established. As is the case with
                    all communications, whether by phone, fax, letter or otherwise, the transmission of the website, in part
                    or in whole, and/or the communication with Patricia A. Woodward via Internet e-mail or through this website
                    does not constitute or create an attorney-client relationship between Patricia A. Woodward and any senders
                    and/or recipient. This Law Office does not necessarily endorse, and is not responsible for, any third-party
                    content that may be accessed through this website. The hypertext links herein are not under the control of
                    Patricia A Woodward. Patricia A. Woodward expressly disclaims all liability in respect to actions taken or
                    not taken based on any or all the contents of any third-party sites. These materials may be considered advertising
                    in certain states.
                </span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>