<mat-card id="about" class="custom-panel" [class.bottom-separator]="shouldHaveSeparator">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="mat-display-3" pawsAnimateOnScroll fadeFrom="right">About</div>
                <div class="panel-text">
                    <p pawsAnimateOnScroll fadeFrom="left" trigger="partial" class="mat-body-2">
                        Ms. Woodward received her law degree from the Washington & Lee University School of Law in Lexington, Virginia. She received
                        a B.A. from Williams College in Williamstown, Massachusetts, and prior to that, she received an A.A.
                        from Hartford College for Women in Hartford, Connecticut. She was admitted to the Virginia State
                        Bar in 1980. In 2012, she had the honor of being appointed the Assistant Commissioner of Accounts
                        for Fauquier County. Ms. Woodward and her husband have lived in Fauquier County for almost thirty
                        years.
                    </p>
                    <hr>
                    <div pawsAnimateOnScroll fadeFrom="right" trigger="partial">
                        <p class="mat-body-2">
                            Since moving to the county, she has been active in many community groups. Some of the groups with which she has been involved
                            include the following:
                        </p>
                        <ul style="list-style: none;" class="mat-body-2">
                            <li>- Altrusa International, Inc. [International service organization]</li>
                            <li>- Fauquier Health Foundation</li>
                            <li>- Piedmont Symphony Orchestra</li>
                            <li>- Safe & SANE Task Force</li>
                            <li>- SAVVI</li>
                            <li>- Blue Ridge Dance Theatre</li>
                            <li>- Fauquier Community Action Committee (local Head Start agency)</li>
                            <li>- Fauquier County Bar Association</li>
                            <li>- Fauquier County Chamber of Commerce</li>
                            <li>- Fauquier Courthouse NSDAR</li>
                            <li>- Literacy Volunteers of Fauquier County</li>
                            <li>- Warrenton Presbyterian Church</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</mat-card>