<div id={{panel.cssId}} class="custom-panel" [class.bottom-separator]="shouldHaveSeparator">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>{{panel.title}}</h1>
                <p class="panel-text" [innerHtml]="panelSummary"></p>
                <p *ngIf="moreDetailsToggled" [innerHtml]="panelMoreDetails"
                [ngClass]="{
                    'fade-in' : moreDetailsToggled,
                    'fade-out': !moreDetailsToggled}"
                class="panel-text more-details"></p>
            </div>
        </div>
    </div>
    <a *ngIf="hasMoreDetails" [ngClass]="{
        'invert-element-up': moreDetailsToggled,
        'invert-element-down': !moreDetailsToggled}"
    class="glyphicon glyphicon-menu-up toggle-more-details"
    [attr.title]="moreDetailsToggled ? 'Read less' : 'Read more'"
    my-invert-element
    (click)="toggleMoreDetails()"></a>
</div>  