<h1 mat-dialog-title>{{ modal.title }}</h1>
<div mat-dialog-content>
    <p *ngIf="isBaseModal else faqModal">
        {{ modal.content }}
    </p>
</div>
<div mat-dialog-actions>
  <!-- floats close button to the right -->
  <span style="flex: 1 1 auto;"></span>
  <button mat-raised-button mat-dialog-close tabindex="2">Close</button>
</div>

<ng-template #faqModal>
    <mat-accordion>
        <mat-expansion-panel *ngFor="let accordionPanel of modal.content">
            <mat-expansion-panel-header>
                {{ accordionPanel.header}}
            </mat-expansion-panel-header>
                {{ accordionPanel.innerContent}}
        </mat-expansion-panel>
    </mat-accordion>
</ng-template>